/*==============================
=   Portafolio - CSS
=   File: style.css
==============================*/

/*======================================
=   CSS VARIABLES (Custom Properties)
======================================*/

:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --color-primary: #0c1a26;
    --color-secondary: #132736;
    --color-tertiary: #29a3a3;
    --color-quaternary: #f0e6d2;
    --color-quinary: #b0bec5;
    --color-senary: #16222e;
    --color-septenary: #ff6f61;
    --color-octonary: #000;
    --color-nonary: #fff;
    --color-decimal: #f8f7f5;
    --color-undecimal: #439f37;
    --color-duodecimal: #e6f4e4;
    --color-tridecimal: #ffe5e5;
    --color-tetradecimal: #e5f0fb;

    /* Color technologies */
    --color-html: #e34f26;
    --color-css: #2965f1;
    --color-js: #f7df1e;
    --color-figma: #0acf83;
    --color-bootstrap: #7952b3;
    --color-react: #61dafb;
    --color-python1: #387eb8;
    --color-python2: #ffe052;
    --color-github: #333;
    --color-git: #de4c36;
    --color-vscode: #32b5f1;
}



/*======================================
=   RESET STYLES
======================================*/

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*======================================
=   BODY AND BASE STYLES
======================================*/

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.6;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    background: var(--color-duodecimal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--- Font family and color for base elements ---*/
h1, h2, h3, h4, h5 {
    font-family: var(--font-main);
}

body, nav, footer, p, a, button, legend, small, span, strong, textarea, input, select, label {
    font-family: var(--font-secondary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.no-scroll {
    overflow: hidden;
}


/* Color de selección de texto */
::selection {
    background: #1EB908;
    color: #fff;
}

/* Para Firefox */
::-moz-selection {
    background: #1EB908;
    color: #fff;
}



/*======================================
=   Hero Section
======================================*/

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    padding: 15px 25px;
    background: url(https://img.freepik.com/fotos-premium/bosque-luz-sol-brillando-traves-arboles-luz-sol-es-brillante-calida-creando-atmosfera-pacifica-serena-arboles-son-exuberantes-verdes-hojas-varios-tamanos-formas_715671-25497.jpg?w=2000) no-repeat center center;
    background-size: cover;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background: inherit;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.20) 25%,
        rgba(0, 0, 0, 0) 50%
    );
}

#hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}


/*---------- Header ----------*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

#header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#header-logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

/* Logo image */
#header-logo {
    display: block;
    width: 180px;
    height: auto;
    color: var(--color-duodecimal);
}


/*--- Open menu button y Close menu button ---*/
.checked__box {
    display: none;
}

#header-open-nav-button,
#header-nav-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transform: scaleX(-1);
    transition: filter 0.3s ease;
}

#header-open-nav-button:hover {
    filter: brightness(0%);
}

body.open-menu #header-open-nav-button {
    display: none;
}

#header-nav-close-button {
    position: absolute;
    top: 30px;
    right: 20px;
    filter: brightness(0%);
}

#header-nav-close-button:hover {
    filter: brightness(50%);
}


/*---------- Navigation menu ----------*/
#header-nav {
    position: fixed;
    top: -15px;
    left: -75px;
    z-index: 100;
    width: 0;
    height: 100vh;
    padding: 100px 0 0 50px;
    overflow: hidden;
    pointer-events: auto;
    background-color: var(--color-duodecimal);
    box-shadow: 0 10px 20px var(--color-octonary);
    filter: none;
    transition: width .4s ease;
}

.checked__box:checked ~ #header-nav {
    left: -25px;
    width: 80%;
}

#header-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header__nav--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.header__nav--item :is(:hover, :active) {
    color: var(--color-quinary);
}

.header__nav--item a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: max-content;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .05rem;
    color: var(--color-senary);
    transition: all .3s ease;
}

.header__nav--item a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: 0;
    background: var(--color-quinary);
    transition: width .3s;
}

.header__nav--item a:hover::before {
    width: 100%;
}


/*--- Introduction text ---*/
#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#intro-text-name {
    position: relative;
    top: 5px;
    left: 10px;
    width: max-content;
    font-weight: 600;
    color: var(--color-duodecimal);
}

#hero-title {
    position: relative;
    z-index: 1;
    display: block;
    font-family: var(--font-main) !important;
    font-size: clamp(4rem, 11.5vw, 6rem);
    font-weight: 900;
    line-height: 1.1;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: url(https://img.freepik.com/fotos-premium/bosque-luz-sol-brillando-traves-arboles-luz-sol-es-brillante-calida-creando-atmosfera-pacifica-serena-arboles-son-exuberantes-verdes-hojas-varios-tamanos-formas_715671-25497.jpg?w=2000);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
}

#hero-title .line {
    width: 100%;
    font-family: var(--font-main) !important;
}


/*--- Icons decoration ---*/
#vh-icons {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
}

#vline {
    display: block;
    width: 3px;
    height: 60px;
    background: #fff;
    border-radius: 2px;
    opacity: 0.8;
}

#diamond,
#diamond-outlined {
    width: 12px;
    height: 12px;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    opacity: 0.9;
}

#diamond-outlined {
    background: transparent;
    border: 2px solid #fff;
    opacity: 0.9;
}


/*--- Social links ---*/
#hero-links {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.social__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

#social-btn-github {
    background-color: #b0bec5;
}

#social-btn-linkedin {
    color: var(--color-nonary);
    background-color: #222;
}

.social__btn i {
    font-size: 1.2rem;
    transition: color .2s, transform .2s;
}

.social__btn i:hover {
    transform: translateY(-1px) scale(1.05);
}


/*------------- MEDIA QUERIES: HEADER TABLET AND DESKTOP -------------*/
@media (min-width: 768px) {
    #hero {
        justify-content: space-between;
        padding: 0;
        padding-right: 20px;
    }

    #hero-content {
        position: relative;
        width: clamp(300px, 40vw, 550px);
        border-radius: 0;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding-inline: 20px 35px;
    }

    .no-scroll {
        overflow: visible;
    }

    #header-open-nav-button,
    #header-nav-close-button  {
        display: none !important;
    }

    #header-nav {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        width: 65%;
        max-width: 550px;
        height: auto;
        padding: 0;
        overflow: visible;
        pointer-events: auto;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }

    #header-nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        width: 100%;
    }

    .header__nav--item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .header__nav--item a {
        font-size: 1rem;
        color: var(--color-quinary);
        text-shadow: 0 0 5px var(--color-octonary);
    }

    .header__nav--item :is(:hover, :active) {
        color: var(--color-duodecimal);
    }

    .header__nav--item a::before {
        background: var(--color-duodecimal);
    }

    #intro-text {
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 85vw;
        height: auto;
        padding-left: 20px;
    }

    #intro-text-name {
        left: 0;
    }

    #hero-title {
        font-size: 6rem;
    }

    #vh-icons {
        display: flex;
    }
}

@media (min-width: 1061px) {
    #intro-text {
        min-width: fit-content;
    }

    #intro-text-name {
        position: absolute;
        top: -25px;
        left: 0;
        width: clamp(300px, 40vw, 550px);
        padding-right: 20px;
        text-align: right;
    }

    #hero-title {
        font-size: clamp(6rem, 9vw, 8rem);
    }

    #hero-title .line {
        display: flex;
    }

    #hero-title .line.right {
        width: max-content;
        margin-left: 160px;
    }

    #hero-title .line.left {
        width: max-content;
        text-align: left;
    }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   Main Section
======================================*/

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*======================================
=   SERVICES
======================================*/

#services {
    width: 100%;
    height: auto;
    padding: 90px 30px;
}

#services-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.services__block {
    width: 100%;
}

.services__title {
    width: fit-content;
    font-size: 2.2rem;
    color: #182e16;
}

.services__text {
    color: var(--color-senary);
}

#striped-background {
    display: none;
}


/*--- Rhombus icon ---*/
#rhombus-container {
    position: absolute;
    bottom: 30%;
    right: 0;
    z-index: -1;
    display: flex;
    width: auto;
    height: auto;
}

.rhombus__outlined {
    transform: rotate(45deg);
}

.rhombus__outlined.r1 {
    position: relative;
    top: -60px;
    left: 10px;
    width: 70px;
    height: 70px;
    border: 5px solid #c6eec6;
}

.rhombus__outlined.r2 {
    width: 40px;
    height: 40px;
    border: 3px solid #c6eec6;
}

.rhombus__outlined.r3 {
    position: relative;
    right: 115px;
    width: 30px;
    height: 30px;
    border: 3px solid #c6eec6;
}


/*------------- MEDIA QUERIES: SERVICES TABLET AND DESKTOP -------------*/
@media (min-width: 768px) {
    #services-container {
        justify-content: center;
        align-items: flex-end;
    }

    .development {
        width: max-content;
    }

    .services__text {
        width: clamp(350px, 45vw, 500px);
    }

    #striped-background {
        position: absolute;
        display: flex;
        top: 2%;
        right: 10%;
        z-index: -1;
        width: 200px;
        height: 200px;
        background: repeating-linear-gradient(
            45deg,
            #c6eec6,
            #c6eec6 1px,
            transparent 4px,
            transparent 12px
        );
    }

    #rhombus-container {
        left: 20%;
        bottom: 5%;
        display: flex;
    }

    .rhombus__outlined.r1 {
        top: -60px;
        left: 10px;
    }

    .rhombus__outlined.r3 {
        right: 115px;
    }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   PROJECTS SECTION
======================================*/

#projects {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 25px 30px 80px;
    color: var(--color-octonary);
    box-shadow: 0px 5px 3px var(--color-quinary);
}


/*--- Portfolio intro ---*/
#portfolio-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
}

#portfolio-title {
    font-size: 2.8rem;
    color: #182e16;
}

#portfolio-subtitle {
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--color-octonary);
}

#portfolio-description {
    margin-top: 20px;
    color: var(--color-senary);
}

#images-services {
    display: none;
    justify-content: center;
    align-items: flex-end;
}

#img-service-design {
    position: relative;
    left: 25px;
    width: auto;
    height: clamp(120px, 24.3vw, 300px);
    object-fit: cover;
    border: 5px solid var(--color-nonary);
    border-radius: 5px;
}

#img-service-development {
    position: relative;
    bottom: 20px;
    right: 25px;
    width: clamp(180px, 36vw, 360px);
    height: auto;
    object-fit: cover;
    border: 5px solid var(--color-nonary);
    border-radius: 5px;
}


/*---------- Container for Project Cards ----------*/
#projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.project__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-decimal);
    transition: transform .5s ease;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}


/*--- Project image container ---*/
.project__container--image {
    width: 100%;
    height: 250px;
}

.project__cards:hover .project__container--image {
    overflow: hidden;
}

.project__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
}

.project__card:hover .project__container--image:hover .project__thumbnail {
    pointer-events: auto;
}


/*---------- Project Description ----------*/
.project__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    color: var(--color-quaternary);
    pointer-events: none;
    transition: opacity .8s ease;
}

.project__name {
    font-size: 1.2rem;
    color: #1EB908;
}

.project__synopsis {
    margin-top: 10px;
    color: var(--color-senary);
}

.project__container--tech-github {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
}

.project__type--site {
    font-size: .9rem;
    color: var(--color-octonary);
}

.project__technologies {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tech-icon {
    width: 0;
    height: 0;
    object-fit: cover;
}

.project__github {
    width: 28px;
    height: 28px;
    pointer-events: auto !important;
    cursor: pointer;
}

.project__github path {
    fill: var(--color-octonary);
    transition: fill .2s;
}

.project__github:hover path {
    fill: var(--color-senary);
}

.project__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    transition: opacity .4s ease, transform .4s ease-in-out;
}

.project__arrow svg {
    width: 24px;
    height: 24px;
    color: var(--color-senary);
}

.project__card:hover .project__arrow {
    opacity: 1;
}

.project__arrow:hover {
    transform: scale(1.1);
}


/*------------- MEDIA QUERIES: SERVICES TABLET AND DESKTOP -------------*/
@media (min-width: 768px) {
    #portfolio-intro {
        flex-direction: row;
        gap: 0;
        justify-content: flex-start;
    }

    #portfolio-content {
        width: 700px;
    }

    #portfolio-title {
        padding-left: 15px;
        font-size: 3rem;
    }

    #portfolio-subtitle {
        margin-top: -10px;
    }

    #projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 30px;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        max-width: 1200px;
    }

    .project__card {
        width: 100%;
    }

    .project__container--image {
        height: 200px;
    }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   SKILLS SECTION
======================================*/

.content__skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 70px 30px 50px;
    background-color: var(--color-decimal);
}

#skills-title {
    font-size: 2.2rem;
    color: #182e16;
}

.skills__list--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: clamp(300px, 85vw, 800px);
    height: auto;
}

.skills__item {
    width: 128px;
    height: 128px;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    background-color: transparent;
}

.skills__item[aria-label="HTML5"] {
    filter: drop-shadow(0 0 10px var(--color-html));
}

.skills__item[aria-label="CSS3"] {
    filter: drop-shadow(0 0 10px var(--color-css));
}

.skills__item[aria-label="JavaScript"] {
    filter: drop-shadow(0 0 10px var(--color-js));
}

.skills__item[aria-label="Bootstrap"] {
    filter: drop-shadow(0 0 10px var(--color-bootstrap)) !important;
}

.skills__item[aria-label="React"] {
    filter: drop-shadow(0 0 10px var(--color-react)) !important;
}

.skills__item[aria-label="Figma"] {
    filter: drop-shadow(0 0 10px var(--color-figma));
}

.skills__item[aria-label="Python"] {
    filter:
        drop-shadow(-8px -8px 10px var(--color-python1))
        drop-shadow(8px 8px 10px var(--color-python2)) !important;
}

.skills__item[aria-label="GitHub"] {
    filter: drop-shadow(0 0 10px var(--color-github));
}

.skills__item[aria-label="Git"] {
    filter: drop-shadow(0 0 10px var(--color-git));
}

.skills__item[aria-label="VSCode"] {
    filter: drop-shadow(0 0 10px var(--color-vscode)) !important;
}



/*======================================
=   CONTACT
======================================*/

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 30px;
    background-color: var(--color-decimal);
}

#contact-title {
    width: 100%;
    font-size: 2.2rem;
    color: #182e16;
}

#contact-description {
    width: 100%;
    color: var(--color-senary);
}

#contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.contact__methods {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact__icon {
    width: 32px;
    height: 32px;
    padding: 7px;
    border-radius: 50%;
    object-fit: contain;
    color: #182e16;
    background-color: #1EB908;
}

.contact__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: color .4s ease;
}

.contact__text--container span {
    font-weight: 600;
    color: #182e16;
}

.contact__text--container small,
.contact__text--container a {
    font-size: .9rem;
    color: var(--color-senary);
}

.contact__text--container a:hover {
    text-decoration: underline;
}


/*======================================
=   Contact Form
======================================*/

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 50px;
}

.input__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input__group label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #182e16;
}

.input__group small {
    font-size: .8rem !important;
}

.contact__form--field {
    scroll-margin-top: 170px;
}

.input__group input,
.input__group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--color-senary);
    border-radius: 3px 3px 0 0;
    outline: none;
    font-size: .9rem;
    background-color: transparent;
    transition: background-color .4s ease;
}

.input__group input:focus,
.input__group textarea:focus {
    border-color: #1EB908;
}

.input__group input.valid,
.input__group textarea.valid {
    color: var(--color-undecimal);
}

.input__group input.invalid,
.input__group textarea.invalid {
    color: var(--color-septenary);
}

.input__group textarea {
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.input__group textarea::-webkit-scrollbar {
    display: none;
}

/* Browser autocomplete */
.input__group input:-webkit-autofill,
.input__group textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--color-undecimal) !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* Message help */
.input__group small {
    position: absolute;
    left: 3px;
    bottom: -23px;
    font-size: .9rem;
    letter-spacing: .05rem;
    color: var(--color-octonary);
}


/*---------- Send button ----------*/
#contact-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#contact-button-container button {
    position: relative;
    width: 40%;
    padding: 10px 20px;
    border: 1px solid var(--color-senary);
    border-radius: 5px;
    overflow: hidden;
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-decoration: none;
    color: #182e16;
    cursor: pointer;
    transition: all .3s;
}

/* Disabled state styles */
#contact-button-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#contact-button-container button:not(:disabled):hover {
    opacity: 0.9;
}

#contact-button-container button:not(:disabled)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: var(--color-tetradecimal);
    filter: brightness(95%);
    transition: all 1s;
}

#contact-button-container button:not(:disabled):hover::before {
    width: 160%;
}


/*---------- MEDIA QUERIES: CONTACT FOR TABLET AND DESKTOP ----------*/
@media (min-width: 768px) {
    #contact-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        max-width: 1024px;
        margin-top: 50px;
    }
    #contact-title,
    .contact__methods {
        width: auto;
        margin: 0;
    }

    .contact__methods {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #contact-description {
        width: 400px;
        margin-top: 10px;
        text-align: center;
    }

    #contact-form {
        width: 60%;
        margin: 0;
    }

    #contact-button-container {
        justify-content: center;
    }
}

@media (min-width: 1089px) {
    #contact-form {
        flex-direction: row;
        flex-wrap: wrap;
        width: 68%;
    }


    .input__group.i1,
    .input__group.i2 {
        width: 47%;
    }
}
/*---------- END MEDIA QUERIES ----------*/



/*======================================
=   FOOTER
======================================*/

footer {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background: #111;
    backdrop-filter: blur(15px);
}

.footer__copy {
    width: clamp(300px, 90%, 1200px);
    padding-block: 20px;
    border-top: 1px solid var(--color-quinary);
    font-size: .8rem;
    text-align: center;
    color: var(--color-quinary);
}

