/*==============================
=   Portafolio - CSS
=   File: style.css
==============================*/

/*======================================
=   CSS VARIABLES (Custom Properties)
======================================*/

:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Domine', serif;
    --color-primary: #0c1a26;
    --color-secondary: #132736;
    --color-tertiary: #29a3a3;
    --color-quaternary: #f0e6d2;
    --color-quinary: #b0bec5;
    --color-senary: #16222e;
    --color-septenary: #ff6f61;
    --color-octonary: #000;
    --color-nonary: #fff;
    --color-decimal: #f8f7f5;
    --color-undecimal: #439f37;
    --color-duodecimal: #e6f4e4;
    --color-tridecimal: #ffe5e5;
    --color-tetradecimal: #e5f0fb;

    /* Color technologies */
    --color-html: #e34f26;
    --color-css: #2965f1;
    --color-js: #f7df1e;
    --color-figma: #0acf83;
    --color-bootstrap: #7952b3;
    --color-react: #61dafb;
    --color-python1: #387eb8;
    --color-python2: #ffe052;
    --color-github: #333;
    --color-git: #de4c36;
    --color-vscode: #32b5f1;
}



/*======================================
=   RESET STYLES
======================================*/

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*======================================
=   BODY AND BASE STYLES
======================================*/

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.6;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    background: var(--color-duodecimal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--- Font family and color for base elements ---*/
h1, h2, h3, h4, h5 {
    font-family: var(--font-main);
    color: var(--color-primary);
}

body, nav, footer, p, a, button, legend, small, span, strong, textarea, input, select, label {
    font-family: var(--font-secondary);
    color: var(--color-quaternary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.no-scroll {
    overflow: hidden;
}



/*======================================
=   Hero Section
======================================*/

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 15px 25px;
    background: url(/assets/images/hero-forest.jpg) no-repeat center center;
    background-size: cover;
}

#hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}


/*---------- Header ----------*/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

#header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#header-logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 100%;
}

/* Logo image */
#header-logo {
    display: block;
    width: auto;
    height: auto;
    color: var(--color-duodecimal);
}


/*--- Open menu button y Close menu button ---*/
.checked__box {
    display: none;
}

#header-open-nav-button,
#header-nav-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transform: scaleX(-1);
    transition: filter 0.3s ease;
}

#header-open-nav-button:hover {
    filter: brightness(0%);
}

body.open-menu #header-open-nav-button {
    display: none;
}

#header-nav-close-button {
    position: absolute;
    top: 30px;
    right: 20px;
    filter: brightness(0%);
}

#header-nav-close-button:hover {
    filter: brightness(50%);
}


/*---------- Navigation menu ----------*/
#header-nav {
    position: fixed;
    top: -15px;
    left: -75px;
    z-index: 100;
    width: 0;
    height: 100vh;
    padding: 100px 0 0 50px;
    overflow: hidden;
    pointer-events: auto;
    background-color: var(--color-duodecimal);
    box-shadow: 0 10px 20px var(--color-octonary);
    filter: none;
    transition: width .4s ease;
}

.checked__box:checked ~ #header-nav {
    left: -25px;
    width: 80%;
}

#header-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header__nav--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.header__nav--item :is(:hover, :active) {
    color: var(--color-quinary);
}

.header__nav--item a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .05rem;
    color: var(--color-senary);
    transition: all .3s ease;
}

.header__nav--item a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: 0;
    background: var(--color-quinary);
    transition: width .3s;
}

.header__nav--item a:hover::before {
    width: 100%;
}


/*--- Introduction text ---*/
#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#intro-text span {
    position: relative;
    top: 10px;
    left: 10px;
    color: var(--color-duodecimal);
}

#group-h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container-first-h1,
#container-second-h1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border: 1px solid #f00;
}

#first-h1,
#second-h1 {
    position: relative;
    z-index: 1;
    font-family: var(--font-main);
    font-size: 4.7rem;
    font-weight: 900 !important;
    line-height: 1.1;
    color: transparent !important;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    border: 1px solid #f00;
    background: url(/assets/images/hero-forest.jpg) no-repeat center center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

.h1__part2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 1px solid #0f0;
}

.h1__part2 span {
    position: relative;
    z-index: 1;
    font-family: var(--font-main);
    font-size: 4.7rem;
    font-weight: 900 !important;
    line-height: 1.1;
    color: transparent !important;
    word-break: break-word;
    white-space: normal;
    border: 1px solid #fff !important;
    overflow-wrap: break-word;
    border: 1px solid #f00;
}


/* Social links */
#hero-links {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.social__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.social__btn i {
    font-size: 1.3rem;
    transition: color .2s, transform .2s;
}

.social__btn i:hover {
    color: var(--color-octonary);
    transform: translateY(-1px) scale(1.05);
}


/*------------- MEDIA QUERIES: HEADER TABLET AND DESKTOP -------------*/
@media (min-width: 768px) {
    #hero {
        justify-content: flex-start;
        padding: 0;
    }

    #hero-content {
        position: relative;
        width: 300px;
        border-radius: 0;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding-inline: 20px 35px;
        border: 1px solid #f00;
    }

    .no-scroll {
        overflow: visible;
    }

    #header-open-nav-button,
    #header-nav-close-button  {
        display: none !important;
    }

    #header-nav {
        position: relative;
        inset: 0;
        width: 50%;
        height: auto;
        padding: 0;
        overflow: visible;
        pointer-events: auto;
        background-color: transparent;
        box-shadow: none;
        transition: none;
        border: 1px solid #f00;
    }

    #header-nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        width: 100%;
        padding-left: 10px;
    }

    .header__nav--item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
    }

    .header__nav--item a {
        font-size: .9rem;
        color: var(--color-duodecimal);
        text-shadow: 0 0 5px var(--color-octonary);
    }

    /*--- Introduction text ---*/
    #intro-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 570px;
        height: auto;
        padding-left: 20px;
        border: 1px solid #f00;
    }

    #intro-text span {
        top: 10px;
        left: 0;
        width: 100%;
        text-align: left;
    }

    #group-h1 {
        align-items: center;
    }

    #container-first-h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #f00;
    }

    #first-h1 {
        display: flex;
        justify-content: center;
        border: 1px solid #f00;
    }

    #container-second-h1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    #group-h1 h1 {
        font-size: 2rem;
        color: var(--color-decimal);
    }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   Main Section
======================================*/

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*======================================
=   PERSONAL INFO
======================================*/

#info-container {
    display: flex;
    justify-content: center;
    width: 85vw;
    max-width: 1300px;
    padding-block: 50px 70px;
    scroll-margin-top: 100px;
    background: transparent;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 900px;
    padding-inline: 15px;
}

#about-me-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
    color: var(--color-quaternary);
}

#about-me-title:hover::after {
    width: 50%;
}

#about-me-container-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#about-me-container-text p {
    line-height: 1.6rem;
    color: var(--color-quinary);
}



/*======================================
=   PROJECTS SECTION
======================================*/

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-block: 50px;
    scroll-margin-top: 60px;
    color: var(--color-octonary);
    background: transparent;
}

#projects-heading {
    position: relative;
    height: auto;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-quaternary);
}

#projects-heading::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 4px;
    height: 70px;
    background: linear-gradient(
        to bottom,
        var(--color-quaternary) 0%,
        var(--color-decimal) 10%,
        var(--color-quinary) 100%
    );
    transform: translateX(-50%);
    border-radius: 2px;
}

#projects-heading::after {
    content: "";
    position: absolute;
    top: 150px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--color-quinary);
    border-radius: 50%;
    transform: translateX(-50%);
}


/*======================================
=   Container for Project Cards
======================================*/

#projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 85vw;
    margin-top: 130px;
    margin-bottom: 60px;
}

.project__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform .5s ease;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}


/* Project image container */
.project__container--image {
    position: relative;
    flex: 1 1 0;
    overflow: hidden;
}

.project__cards:hover .project__container--image {
    overflow: hidden;
}

.project__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    pointer-events: none;
}

.project__card:hover .project__container--image:hover .project__thumbnail {
    pointer-events: auto;
}


/*---------- Project Description ----------*/
.project__description {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 30px;
    color: var(--color-quaternary);
    opacity: 0;
    background: rgba(12, 26, 38, 0.7);
    box-shadow: 0 0 40px var(--color-octonary);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    pointer-events: none;
    transition: opacity .8s ease;
}

.project__card:hover .project__description {
    opacity: 1;
    pointer-events: auto;
}

.project__name {
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

.project__type--site {
    margin-top: 10px;
    color: var(--color-quaternary);
}

.project__synopsis {
    width: 75%;
    color: var(--color-quinary);
}

.project__container--tech-github {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project__technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-quinary);
}

.tech-icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.project__github {
    width: 28px;
    height: 28px;
}

.project__github path {
    fill: var(--color-tertiary);
    transition: fill .2s;
}

.project__github:hover path {
    fill: var(--color-quaternary);
}

.project__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    transition: opacity .4s ease, transform .4s ease-in-out;
}

.project__arrow svg {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

.project__card:hover .project__arrow {
    opacity: 1;
}

.project__arrow:hover {
    transform: scale(1.1);
}


/*---------- MEDIA QUERIES: PROJECTS GRID FOR TABLET AND DESKTOP ----------*/
@media (min-width: 768px) {
    #projects-container {
        justify-items: center;
    }

    .project__card {
        width: 650px;
        height: 500px;
    }
}

@media (min-width: 992px) {
    #projects-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        max-width: 1200px;
    }

    .project__card {
        width: 100%;
        height: 350px;
    }

    /* Row 1 */
    .layout-1 { grid-column: span 2; }
    .layout-2 { grid-column: span 4; }

    /* Row 2 */
    .layout-3 { grid-column: span 3; }

    .layout-4 { grid-column: span 3; }

    /* Row 3 */
    .layout-5,
    .layout-6,
    .layout-7 { grid-column: span 2; }

    /* Row 4 */
    .layout-8 { grid-column: span 4; }
    .layout-9 { grid-column: span 2; }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   SKILLS SECTION
======================================*/

.content__skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: 100%;
    padding-block: 100px;
    scroll-margin-top: 10px;
    background: var(--color-decimal);
}

#skills-title {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: center;
    color: var(--color-primary);
}

.skills__list--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: clamp(300px, 85vw, 800px);
    height: auto;
}

.skills__item {
    width: 128px;
    height: 128px;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    background: transparent;
    filter: grayscale(1) brightness(0.6) drop-shadow(0 0 10px rgba(0,0,0,0.7));
    transition:
        opacity .6s cubic-bezier(.4,0,.2,1),
        filter .8s cubic-bezier(.4,0,.2,1);
}

.skills__item[aria-label="HTML5"]:hover {
    opacity: 1;
    background: rgba(227, 79, 38, 0.18);
    filter: drop-shadow(0 0 16px var(--color-html));
}

.skills__item[aria-label="CSS3"]:hover {
    opacity: 1;
    background: rgba(41, 101, 241, 0.18);
    filter: drop-shadow(0 0 16px var(--color-css));
}

.skills__item[aria-label="JavaScript"]:hover {
    opacity: 1;
    background: rgba(247, 223, 30, 0.13);
    filter: drop-shadow(0 0 16px var(--color-js));
}

.skills__item[aria-label="Figma"]:hover {
    opacity: 1;
    background: rgba(10, 207, 131, 0.13);
    filter: drop-shadow(0 0 16px var(--color-figma));
}

.skills__item[aria-label="Bootstrap"]:hover {
    opacity: 1;
    background: rgba(121, 82, 179, 0.18) !important;
    filter: drop-shadow(0 0 16px var(--color-bootstrap)) !important;
}

.skills__item[aria-label="React"]:hover {
    opacity: 1;
    background: rgba(97, 218, 251, 0.13) !important;
    filter: drop-shadow(0 0 16px var(--color-react)) !important;
}

.skills__item[aria-label="Python"]:hover {
    opacity: 1;
    background: linear-gradient(135deg, rgba(56,126,184, 0.18) 10%, rgba(255,224,82, 0.18) 100%) !important;
    filter:
        drop-shadow(-8px -8px 16px var(--color-python1))
        drop-shadow(8px 8px 16px var(--color-python2)) !important;
}

.skills__item[aria-label="GitHub"]:hover {
    opacity: 1;
    background: rgba(51, 51, 51, 0.18);
    filter: drop-shadow(0 0 16px var(--color-github));
}

.skills__item[aria-label="Git"]:hover {
    opacity: 1;
    background: rgba(222, 76, 54, 0.18);
    filter: drop-shadow(0 0 16px var(--color-git));
}

.skills__item[aria-label="VSCode"]:hover {
    opacity: 1;
    background: rgba(50, 181, 241, 0.13);
    filter: drop-shadow(0 0 16px var(--color-vscode)) !important;
}



/*======================================
=   CONTACT
======================================*/

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 60px 100px;
    scroll-margin-top: 50px;
    color: var(--color-octonary);
    background-color: var(--color-decimal);
}

#contact-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-primary);
}

.contact__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: clamp(300px, 85vw, 1000px);
    margin-top: 50px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 85vw, 500px);
}

.contact__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.contact__description {
    color: var(--color-senary);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.contact__methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact__icon {
    width: 38px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    object-fit: contain;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
}

.contact__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .4s ease;
}

.contact__text--container span {
    font-size: 1rem;
    color: var(--color-secondary);
}

.contact__text--container small,
.contact__text--container a {
    font-size: .9rem;
    color: var(--color-octonary);
}

.contact__text--container a:hover {
    text-decoration: underline;
}


/*======================================
=   Contact Form
======================================*/

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: clamp(300px, 80vw, 450px);
}

.input__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input__group label,
.input__group label span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary);
}

.input__group small {
    font-size: .8rem !important;
}

.contact__form--field {
    scroll-margin-top: 170px;
}

.input__group input,
.input__group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    letter-spacing: .05rem;
    background-color: var(--color-decimal);
    transition: background-color .4s ease;
}

.input__group input:hover,
.input__group textarea:hover {
    background: var(--color-quinary);
}

.input__group input:focus,
.input__group textarea:focus {
    outline: 2px solid var(--color-secondary);
    outline-offset: 1.5px;
    color: var(--color-quaternary);
    background: var(--color-secondary);
}

.input__group input.valid,
.input__group textarea.valid {
    color: var(--color-undecimal);
    background: var(--color-tetradecimal);
}

.input__group input.invalid,
.input__group textarea.invalid {
    color: var(--color-septenary);
}

.input__group textarea {
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.input__group textarea::-webkit-scrollbar {
    display: none;
}

/* Browser autocomplete */
.input__group input:-webkit-autofill,
.input__group textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-tetradecimal) inset !important;
    -webkit-text-fill-color: var(--color-undecimal) !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* Message help */
.input__group small {
    margin-top: 3px;
    margin-left: 3px;
    font-size: .9rem;
    letter-spacing: .05rem;
    color: var(--color-octonary);
}


/*---------- Send button ----------*/
#contact-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#contact-button-container button {
    position: relative;
    width: 80%;
    padding: 5px 20px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--color-quinary);
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all 1s;
}


/* Disabled state styles */
#contact-button-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#contact-button-container button:not(:disabled):hover {
    color: var(--color-senary);
    opacity: 0.9;
    transform: translateY(2px);
}

#contact-button-container button:not(:disabled)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: var(--color-quaternary);
    transform: skewX(45deg);
    filter: brightness(95%);
    transition: all 1s;
}

#contact-button-container button:not(:disabled):hover::before {
    width: 160%;
}


/*---------- MEDIA QUERIES: CONTACT FOR TABLET AND DESKTOP ----------*/
@media (min-width: 992px) {
    .contact__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
    }

    .contact__info {
        align-items: flex-start;
        width: 400px;
    }

    .contact__description {
        text-align: start;
    }

    .contact__methods {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact__item {
        flex-direction: row;
        gap: 12px;
    }

    .contact__text--container {
        align-items: flex-start;
    }
}

/*---------- END MEDIA QUERIES ----------*/



/*======================================
=   FOOTER
======================================*/

footer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 50px;
    background-color: var(--color-primary);
}

.footer__copy {
    width: clamp(300px, 90%, 1200px);
    padding-block: 20px;
    border-top: 1px solid var(--color-quaternary);
    font-size: .8rem;
    text-align: center;
    color: var(--color-quinary);
}

