/*==============================
=   Portafolio - CSS
=   File: style.css
==============================*/

/*======================================
=   CSS VARIABLES (Custom Properties)
======================================*/

:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Domine', serif;
    --color-primary: #0c1a26;
    --color-secondary: #132736;
    --color-tertiary: #29a3a3;
    --color-quaternary: #f0e6d2;
    --color-quinary: #b0bec5;
    --color-senary: #16222e;
    --color-septenary: #ff6f61;
    --color-octonary: #000;
    --color-nonary: #fff;
    --color-decimal: #f8f7f5;
    --color-undecimal: #439f37;
    --color-duodecimal: #e6f4e4;
    --color-tridecimal: #ffe5e5;
    --color-tetradecimal: #e5f0fb;
}



/*======================================
=   RESET STYLES
======================================*/

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*======================================
=   BODY AND BASE STYLES
======================================*/

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.6;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    background-color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--- Font family and color for base elements ---*/
h1, h2, h3, h4, h5 {
    font-family: var(--font-main);
    color: var(--color-primary);
}

body, nav, footer, p, a, button, legend, small, span, strong, textarea, input, select, label {
    font-family: var(--font-secondary);
    color: var(--color-quaternary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Prevent scroll when menu is open */
.no-scroll {
    overflow: hidden;
}


/*---------- ESTADO: MENÚ ABIERTO (Body desenfocado) ---------- */
body.open-menu main,
body.open-menu section,
body.open-menu #projects,
body.open-menu footer {
    pointer-events: none;
    filter: blur(2px);
}



/*======================================
=   HEADER
======================================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding-inline: clamp(20px, 5vw, 30px);
    border-bottom: 1px solid var(--color-quinary);
    background: rgba(12, 26, 38, 0.18);
    box-shadow: 0 0 40px var(--color-octonary);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1300px;
}

#header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#header-logo-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}


/* Logo image */
#header-logo {
    display: block;
    width: 124px;
    height: auto;
    padding: 0 !important;
    text-align: start;
    color: var(--color-quaternary);
}


/*---------- Open menu button y Close menu button ----------*/
/* Hidden checkbox for mobile menu toggle */
.checked__box {
    display: none;
}


/* Open menu button */
#header-open-nav-button {
    transform: scaleX(-1);
}


/* Close menu button */
#header-nav-close-button {
    position: absolute;
    top: 30px;
    right: 20px;
}

#header-open-nav-button,
#header-nav-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

#header-open-nav-button:hover,
#header-nav-close-button:hover {
    filter: brightness(0%);
}


/*---------- Navigation menu ----------*/
#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0;
    overflow: hidden;
    pointer-events: auto;
    background-color: var(--color-primary);
    box-shadow: 0 10px 20px var(--color-octonary);
    filter: none;
    transition: height 0.8s ease;
}


/* Checkbox checked: open nav menu height */
.checked__box:checked ~ #header-nav {
    height: 80vh;
}


/*---------- Navigation links container ----------*/
#header-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}


/* Navigation item base */
.header__nav--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Line animation */
.header__nav--item :is(:hover, :active) {
    color: var(--color-quaternary);
}

.header__nav--item a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: center;
    color: var(--color-tertiary);
    transition: all 0.3s ease;
}

.header__nav--item a::before {
    content: "";
    position: absolute;
    left: 45%;
    width: 0;
    height: 2px;
    bottom: 0;
    background: var(--color-quaternary);
    transition: all .3s;
}

.header__nav--item a:hover::before {
    left: 0;
    width: 100%;
}


/*------------- MEDIA QUERIES: HEADER TABLET AND DESKTOP -------------*/
@media (min-width: 768px) {
    .no-scroll {
        overflow: visible;
    }

    body.open-menu main,
    body.open-menu section,
    body.open-menu #projects,
    body.open-menu footer {
        pointer-events: auto;
        filter: none;
    }

    #header-open-nav-button {
        display: none;
    }

    #header-nav {
        position: static;
        width: auto;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: visible;
        pointer-events: auto;
        background-color: transparent;
        box-shadow: none;
        filter: none;
        transition: none;
    }

    #header-nav-close-button {
        display: none;
    }

    #header-nav-list {
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center;
        gap: 0;
        width: clamp(500px, 70vw, 700px);
    }

    .header__nav--item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
    }

    .header__nav--item a {
        font-size: .9rem;
    }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   Main Section
======================================*/

main {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*======================================
=   Hero Section
======================================*/

#hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
}

#hero-focus {
    position: relative;
    height: auto;
    margin-top: 150px;
}

#hero-logo {
    width: clamp(300px, 75vw, 700px);
    height: auto;
}

#hero-title {
    position: absolute;
    bottom: clamp(15px, 4.7vw, 45px);
    right: 0;
    width: max-content;
    font-size: clamp(.9rem, 3vw, 1.5rem);
    font-weight: 700;
    color: var(--color-quinary);
}



/*======================================
=   PERSONAL INFO
======================================*/

#info-container {
    display: flex;
    justify-content: center;
    width: 85vw;
    max-width: 1300px;
    border-top: 2px solid var(--color-quinary);
    scroll-margin-top: 100px;
    margin-top: 70px;
    background: transparent;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 900px;
    padding-inline: 15px;
    margin-top: 100px;
}

#about-me-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
    color: var(--color-quaternary);
}

#about-me-title:hover::after {
    width: 50%;
}

#about-me-container-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#about-me-container-text p {
    line-height: 1.6rem;
    color: var(--color-quinary);
}



/*======================================
=   PROJECTS SECTION
======================================*/

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-bottom: 70px;
    margin-top: 140px;
    scroll-margin-top: 130px;
    color: var(--color-octonary);
    background: transparent;
}

#projects-heading {
    position: relative;
    height: auto;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-quaternary);
}

#projects-heading::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 4px;
    height: 70px;
    background: linear-gradient(
        to bottom,
        var(--color-quaternary) 0%,
        var(--color-decimal) 10%,
        var(--color-quinary) 100%
    );
    transform: translateX(-50%);
    border-radius: 2px;
}

#projects-heading::after {
    content: "";
    position: absolute;
    top: 150px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--color-quinary);
    border-radius: 50%;
    transform: translateX(-50%);
}


/*======================================
=   Container for Project Cards
======================================*/

#projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 85vw;
    margin-top: 130px;
    margin-bottom: 60px;
}


/*------------- Project Card Container -------------*/
.project__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform .5s ease;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}


/*---------- Project image container ----------*/
.project__container--image {
    position: relative;
    flex: 1 1 0;
    overflow: hidden;
}

.project__cards:hover .project__container--image {
    overflow: hidden;
}

.project__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    pointer-events: none;
}

.project__card:hover .project__container--image:hover .project__thumbnail {
    pointer-events: auto;
}


/*---------- Project Description ----------*/
.project__description {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 30px;
    color: var(--color-quaternary);
    opacity: 0;
    background: rgba(12, 26, 38, 0.7);
    box-shadow: 0 0 40px var(--color-octonary);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    pointer-events: none;
    transition: opacity .8s ease;
}

.project__card:hover .project__description {
    opacity: 1;
    pointer-events: auto;
}

.project__name {
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

.project__type--site {
    margin-top: 10px;
    color: var(--color-quaternary);
}

.project__synopsis {
    width: 75%;
    color: var(--color-quinary);
}

.project__container--tech-github {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project__technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-quinary);
}

.tech-icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.project__github {
    width: 28px;
    height: 28px;
}

.project__github path {
    fill: var(--color-tertiary);
    transition: fill .2s;
}

.project__github:hover path {
    fill: var(--color-quaternary);
}

.project__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    transition: opacity .4s ease, transform .4s ease-in-out;
}

.project__arrow svg {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

.project__card:hover .project__arrow {
    opacity: 1;
}

.project__arrow:hover {
    transform: scale(1.1);
}


/*---------- MEDIA QUERIES: GRID FOR TABLET AND DESKTOP ----------*/
@media (min-width: 768px) {
    #projects-container {
        justify-items: center;
    }

    .project__card {
        width: 650px;
        height: 500px;
    }
}

@media (min-width: 992px) {
    #projects-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        max-width: 1200px;
    }

    .project__card {
        width: 100%;
        height: 350px;
    }

    /* Row 1 */
    .layout-1 { grid-column: span 2; }
    .layout-2 { grid-column: span 4; }

    /* Row 2 */
    .layout-3 { grid-column: span 3; }

    .layout-4 { grid-column: span 3; }

    /* Row 3 */
    .layout-5,
    .layout-6,
    .layout-7 { grid-column: span 2; }

    /* Row 4 */
    .layout-8 { grid-column: span 4; }
    .layout-9 { grid-column: span 2; }
}
/*------------- END MEDIA QUERIES -------------*/



/*======================================
=   SKILLS SECTION
======================================*/

.content__skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: 100%;
    padding-block: 100px;
    scroll-margin-top: 20px;
    background: var(--color-decimal);
}

#skills-title {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: center;
    color: var(--color-primary);
}

.skills__list--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: clamp(300px, 85vw, 700px);
    height: auto;
}

.skills__item {
    width: 128px;
    height: 128px;
    opacity: 0.7;
    cursor: pointer;
    background: transparent;
    filter: grayscale(1) brightness(0.6) drop-shadow(0 0 10px rgba(0,0,0,0.7));
    transition:
        opacity .6s cubic-bezier(.4,0,.2,1),
        filter .8s cubic-bezier(.4,0,.2,1);
}

/* Hover: original color and phosphorescent shadow with drop-shadow */
.skills__item[aria-label="HTML5"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #e34f26);
}

.skills__item[aria-label="CSS3"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #2965f1);
}

.skills__item[aria-label="JavaScript"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #f7df1e);
}

.skills__item[aria-label="Python"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #387EB8);
}

.skills__item[aria-label="GitHub"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #333);
}

.skills__item[aria-label="Git"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #de4c36);
}

.skills__item[aria-label="VS Code"]:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #32b5f1);
}



/*======================================
=   CONTACT
======================================*/

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 30px 100px;
    margin-bottom: 70px;
    scroll-margin-top: 70px;
    color: var(--color-octonary);
    background-color: var(--color-decimal);
}

/* main contact title */
#contact-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--color-primary);
}

#contact-title::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    width: 75%;
    height: 4px;
    border-radius: 8px;
    background: linear-gradient(
        to right,
        var(--color-primary) 0%,
        var(--color-secondary) 70%,
        var(--color-tertiary) 100%
    );
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

#contact-title:hover::after {
    width: 50%;
}


.contact__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}


/*---------- Contact info ----------*/
.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 85vw, 500px);
}

.contact__title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.contact__description {
    margin-bottom: 25px;
    color: var(--color-senary);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.contact__methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact__icon {
    width: 38px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    object-fit: contain;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
}

.contact__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .4s ease;
}

.contact__text--container span {
    font-size: 1rem;
    color: var(--color-secondary);
}

.contact__text--container small,
.contact__text--container a {
    font-size: .9rem;
    color: var(--color-octonary);
}

.contact__text--container a:hover {
    text-decoration: underline;
}



/*======================================
=   Contact Form
======================================*/

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: clamp(300px, 80vw, 450px);
}


/*---------- Styles For Input And Textarea ----------*/
.input__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input__group label,
.input__group label span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary);
}

.input__group small {
    font-size: .8rem !important;
}

.contact__form--field {
    scroll-margin-top: 170px;
}

.input__group input,
.input__group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    letter-spacing: .05rem;
    background-color: var(--color-decimal);
    transition: background-color .4s ease;
}

.input__group input:hover,
.input__group textarea:hover {
    background: var(--color-quinary);
}

.input__group input:focus,
.input__group textarea:focus {
    outline: 2px solid var(--color-secondary);
    outline-offset: 1.5px;
    color: var(--color-quaternary);
    background: var(--color-secondary);
}

.input__group input.valid,
.input__group textarea.valid {
    color: var(--color-undecimal);
    background: var(--color-tetradecimal);
}

.input__group input.invalid,
.input__group textarea.invalid {
    color: var(--color-septenary);
}

.input__group textarea {
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.input__group textarea::-webkit-scrollbar {
    display: none;
}

/* Browser autocomplete */
.input__group input:-webkit-autofill,
.input__group textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-tetradecimal) inset !important;
    -webkit-text-fill-color: var(--color-undecimal) !important;
    transition: background-color 9999s ease-in-out 0s;
}


/* Message help */
.input__group small {
    margin-top: 3px;
    margin-left: 3px;
    font-size: .9rem;
    letter-spacing: .05rem;
    color: var(--color-octonary);
}


/*---------- Send button ----------*/
#contact-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#contact-button-container button {
    position: relative;
    width: 80%;
    padding: 5px 20px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--color-quinary);
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all 1s;
}


/* Disabled state styles */
#contact-button-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* Hover styles only if NOT disabled */
#contact-button-container button:not(:disabled):hover {
    color: var(--color-senary);
    opacity: 0.9;
    transform: translateY(2px);
}


/* Before pseudo-element only if NOT disabled */
#contact-button-container button:not(:disabled)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: var(--color-quaternary);
    transform: skewX(45deg);
    filter: brightness(95%);
    transition: all 1s;
}

#contact-button-container button:not(:disabled):hover::before {
    width: 160%;
}


/*---------- MEDIA QUERIES: CONTACT FOR TABLET AND DESKTOP ----------*/
@media (min-width: 1025px) {
    .contact__content {
        gap: 100px;
        margin-top: 70px;
    }

    .contact__info {
        align-items: flex-start;
        width: 400px;
    }

    .contact__description {
        text-align: start;
    }

    .contact__methods {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact__item {
        flex-direction: row;
        gap: 12px;
    }

    .contact__text--container {
        align-items: flex-start;
    }
}

/*---------- END MEDIA QUERIES ----------*/



/*======================================
=   FOOTER
======================================*/

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 50px 30px;
    background-color: transparent;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(300px, 85vw, 1200px);
}


/*---------- Footer contact social ----------*/
#footer-info-social {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}

#info-text {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: var(--color-quaternary);
}

#footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
}

#footer-social-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#footer-social-list a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-quinary);
    transition: opacity .4s ease, text-decoration .4s ease;
}

#footer-social-list a:hover,
#footer-social-list a:focus {
    opacity: .4;
    text-decoration: underline;
}


/*---------- Footer Navigation ----------*/
#footer-nav {
    margin-top: 30px;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-links li {
    font-size: .9rem;
    width: min-content;
    text-align: center;
    color: var(--color-quaternary);
    transition: text-decoration .4s ease, opacity .4s ease;
}

#footer-links a:hover {
    text-decoration: underline;
    opacity: .7;
}


/*--- Copyright Info ---*/
.footer__copy {
    width: 90%;
    padding-top: 20px;
    border-top: 1px solid var(--color-quaternary);
    margin-top: 15px;
    font-size: .8rem;
    text-align: center;
    color: var(--color-quinary);
}


/*---------- MEDIA QUERIES: FOOTER FOR TABLET AND DESKTOP ----------*/
@media (min-width: 768px) {
    #footer-nav {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #footer-links {
        width: clamp(700px, 85vw, 900px);
    }

    #footer-links li {
        width: fit-content;
    }
}
/*---------- END MEDIA QUERIES ----------*/

